*{
    margin: 0;
    padding: 0;
}
main{
    border: 1px solid black;
}
h1{
    background-color: rgb(39, 38, 38);
    color: white;
    padding-left: 15px;
    margin: 5px;
}
div{
    background-color: lightgray;
    height: 150px;
    margin: 20px 5px 15px 5px;
    display: flex;
}
img{
    border: 1px dotted black;
   
}