*{
    padding: 0px;
    margin: 0px;
}
header{
    color: white;
    background: black;
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: end;
}
section{
    display: flex;
}
article{
    padding: 10px;
    width: 33%;
}
#articulo1{
    background: rgb(101, 187, 173);
}
#articulo2{
    background: rgb(169, 250, 193);
}
#articulo3{
    background: rgb(170, 170, 170);
}
section > article > h2{
    text-align: center;
    margin: 15px;
}
section > article > img{
    width: 100%;
}
