*{
    margin: 0px;
    padding: 0px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    justify-items: center;
    border: 5px solid lightgray;
}

article{
    border-left: 5px solid lightgray;
    padding-left: 10px;
}
label{
    color: orange;
}
button{
    background: orange;
    padding: 10px;
    border: 0px;
}